<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>hapi Greetings</title>
	<link rel="stylesheet" href="/assets/css/stylesheet.css" />
</head>
<body>
	<header>
		<h2>My Cards</h2>
		<a href="cards/new" class="btn btn-default" role="button">
			Make New Card
		</a>
		<a href="upload" class="btn btn-default" role="button">
			Upload a Card Image
		</a>
	</header>
	<ul class="cards">
		{{#each cards}}
		<li class="card">
			<div class="recipient">To: {{name}}
			</div>
			<img src="/assets/images/cards/{{card_image}}">
			<div class="actions">
				<a href="cards/{{id}}" class="btn btn-default" role="button">
					Preview
				</a>
				<a href="cards/{{id}}" class="btn btn-default delete-button" role="button">
					Delete
				</a>
				<a href="cards/{{id}}/send" class="btn btn-default" role="button">
					Send
				</a>
			</div>
		</li>
		{{/each}}
	</ul>
	<script>
		var deleteButtons = document.getElementsByClassName('delete-button'),
			deleteClickHandler = function(e) {
				e.preventDefault();
				e.stopPropagation();
				var request = new XMLHttpRequest();
				request.open('DELETE', e.target.href, true);
				request.onload = function() {
					if (request.status >= 200 && request.status < 400) {
						location.reload();
					} else {
					}
				};
				request.send();
			},
			counter = 0;
		while(counter < deleteButtons.length) {
			deleteButtons.item(counter).addEventListener('click', deleteClickHandler);
			counter++;
		}
	</script>
</body>
</html>
